
<!--I know, tables are dead, right?-->
<table id="socialtable">
  <tr>
    <td><a href="http://github.com/joelmartinez" rel="me"><img src="/design/images/icon_github.png" /></a></td>
    <td><a href="http://twitter.com/joelmartinez" rel="me"><img src="/design/images/icon_twitter.png" /></a></td>
    <td><a href="http://www.linkedin.com/in/joelmartinez" rel="me"><img src="/design/images/icon_linkedin.png" /></a></td>
  </tr>
</table>

<a name="archives" />
<h1><img src="/design/images/icon_writing.png" class="titleicon" /> Archives</h1>
<div>
  @foreach(var year in Model.Years) {
  <a href="#@year.Name">@year.Name</a> @:|
  }
</div>

@foreach(var year in Model.Years) {
  <a name="@year.Name" />
  <h2>@year.Name</h2>

  <ul id="archivelist" class="hfeed">
  @foreach(var month in year.Months) {

    foreach(var post in month.Posts) {
    <li class="hentry">
      <span class="entry-title"><a href="@post.UrlPath" rel="bookmark">@post.Title</a></span> (<abbr class="published" title="@post.PublishedOn">@month.Name</abbr>)
    </li>
    }
  }
  </ul>
}