
<!--I know, tables are dead, right?-->
<table id="socialtable">
  <tr>
    <td><a rel="me" href="https://mastodon.social/@Raw("@")joelmartinez"><img src="/design/images/mastodon-logo.svg" style="height:120px;width:120px" alt="My place in the fediverse, Mastodon"></a></td>
    <td><a href="https://github.com/joelmartinez" rel="me"><img src="/design/images/icon_github.png" alt="My Github Profile"></a></td>
    <td><a href="https://www.linkedin.com/in/joelmartinez" rel="me"><img src="/design/images/icon_linkedin.png" alt="My Resume"></a></td>
    <td><a href="https://twitter.com/joelmartinez" rel="me"><img src="/design/images/icon_twitter.png" alt="My Twitter Profile"></a></td>
  </tr>
</table>
@{
var firstPost = Model.Years[0].Months[0].Posts[0];
}
<div class="hentry">
  <span class="entry-title">
    <a href="@firstPost.UrlPath" rel="bookmark">
      <h2>@firstPost.Title</h2>
    </a>
  </span> 
  <p class="entry-body">@Raw(firstPost.Body)</p>
</div>

<a name="archives" />
<h1><img src="/design/images/icon_writing.png" class="titleicon" /> Archives</h1>
<div>
  @foreach(var year in Model.Years) {
  <a href="#@year.Name">@year.Name</a> @:|
  }
</div>
@{var yearIndex = 0;}
@foreach(var year in Model.Years) {
  <a name="@year.Name" />
  <h2>@year.Name</h2>
@{ int previewLimit = 6 - yearIndex; if(previewLimit < 1) { previewLimit = 1; } int previewCount = 0; }


  <ul id="archivelist" class="hfeed">
  @foreach(var month in year.Months) {

    foreach(var post in month.Posts) {
      if (post == firstPost) { continue; }
    <li class="hentry">
      <span class="entry-title"><a href="@post.UrlPath" rel="bookmark">@post.Title</a></span> (<abbr class="published" title="@post.PublishedOn">@month.Name</abbr>)
      @if(previewCount < previewLimit) {
      <p class="entry-summary">@post.BodySummary</p>
        previewCount++;
      }
    </li>
    }
  }
  </ul>
  yearIndex++;
}
