<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf8" />
	<title>@Model.Title</title>
  <link rel="alternate" type="application/rss+xml" title="Joel Martinez" href="//codecube.net/feed/" />
	<link rel="stylesheet" type="text/css" href="/design/style.css?v=2" />
  @foreach(var meta in Model.Meta)
  {
    if (meta.Key.StartsWith("og:")) {
      <link property="@meta.Key" content="@meta.Value" />
    }
    else {
      <link name="@meta.Key" content="@meta.Value" />
    }
  }
  
  <script src="/script/tone.js"></script>
</head>
<body>
  <div id="header">
    <div>
	  <a href="/" rel="home"><img height="50" width="50" src="//www.gravatar.com/avatar/a61a4be80ce39683142620a76299820b.png" title="ItsAMeee" /></a>
      <a href="/about/" rel="author">Joel Martinez</a>

      <img id="flair" src="/design/images/flair.png" />
    </div>
  </div>

  <div id="contentwrapper">
	  <div id="content">
		@Raw(Model.Content)
	  </div>
  </div>

  <div id="footer">
    copyright 2013 - @System.DateTime.Now.Year - <a rel="me" href="https://mastodon.social/@Raw("@")joelmartinez">me @Raw("@") Mastodon</a> and <a rel="me" href="https://www.threads.net/@Raw("@")joeldm1971">Threads</a>
  </div>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-859807-1']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
