<article class="hentry" itemscope itemtype="https://schema.org/Article">
  <h1 class="entry-title" itemprop="headline">@Model.Title</h1>
  <p id="author">By <a href="http://codecube.net" title="More posts by Joel Martinez" rel="author" itemprop="author" itemscope itemtype="https://schema.org/Person"><span itemprop="name">Joel Martinez</span></a> on <time class="published" itemprop="datePublished" datetime="@Model.PublishedOn.ToString("yyyy-MM-dd")">@Model.PublishedOn.ToShortDateString()</time>
</p>
  <div class="entry-content" itemprop="articleBody">
    @Raw(Model.ParsedBody)
  </div>
  <meta itemprop="description" content="@Model.BodySummary" />
</article>

<script type="application/ld+json">
{
  "@@context": "https://schema.org",
  "@@type": "Article",
  "headline": "@Model.Title.Replace("\"", "\\\"")",
  "description": "@Model.BodySummary.Replace("\"", "\\\"").Replace("\r", "").Replace("\n", " ")",
  "author": {
    "@@type": "Person",
    "name": "Joel Martinez",
    "url": "https://codecube.net/about/"
  },
  "publisher": {
    "@@type": "Person",
    "name": "Joel Martinez",
    "url": "https://codecube.net"
  },
  "datePublished": "@Model.PublishedOn.ToString("yyyy-MM-dd")",
  "dateModified": "@Model.PublishedOn.ToString("yyyy-MM-dd")",
  "mainEntityOfPage": {
    "@@type": "WebPage",
    "@@id": "@Model.URL"
  }
}
</script>
<p>See more in the <a href="/#archives">archives</a>
</p>
